<!DOCTYPE html>
<html xml:lang xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body>

  <header th:replace="/plantilla/plantilla::header"></header>

  <main class="container">

    <div id="reloj">
      <div class="reloj-contenedor" id="contenedor">
        <div id="hora">Reloj Digital</div>
        <div id="fecha">con javaScript</div>
      </div>
    </div>

    </div>
    <div class="row pt-5 text-center">
      <div class="col-lg-4">
        <img src="/imagenes/opciones/recetas.jpg" alt="" class="rounded-3" style="width:10rem">
        <h2>Recetas</h2>
        <p>Listado de recetas disponibles.</p>
        <p><a class="btn btn-info" href="#">Ver detalles &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/imagenes/opciones/menu.jpg" alt="" class="rounded-3" style="width:10rem">

        <h2 class="mt-3">Menú</h2>
        <p>Opciones de menú diario.</p>
        <p><a class="btn btn-info" href="#">Ver Detalles &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/imagenes/opciones/calendario.jpg" alt="" class="rounded-3" style="width:10rem">
        <h2 class="mt-3">Calendario</h2>
        <p>Detalles del calendario semanal</p>
        <p><a class="btn btn-info" href="#">Ver Detalles &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <h2 class="text-center py-4">Planificación Semanal</h2>

    <table class=" table text-center border border-secondary border-2 pt-4">
      <tr>
        <th scope="row">Días</th>
        <th scope="row">Entrada</th>
        <th scope="row">Plato de fondo</th>
        <th scope="row">Postre</th>
      </tr>
      <tr>
        <th class="text-uppercase" scope="row">Lunes</th>
        <td>
          <div class="card carta border border-dark" style="width: 18rem;">
            <div class="image">
              <img src="/imagenes/ensaladas/e.jpg" class="card-img-top imgl img-thumbnail" alt="...">
            </div>
            <div class="card-body cuerpo">
              <h5 class="card-title ">Nombre del plato</h5>
              <p class="card-text">Pequeña descripción.</p>
              <a href="#" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto">Detalles</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card carta border border-dark" style="width: 18rem;">
            <div class="image">
              <img src="/imagenes/fondo/f.jpg" class="card-img-top imgl img-thumbnail" alt="...">
            </div>
            <div class="card-body cuerpo">
              <h5 class="card-title">Nombre del plato</h5>
              <p class="card-text">Pequeña descripción.</p>
              <a href="#" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto">Detalles</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card carta border border-dark" style="width: 18rem;">
            <div class="image">
              <img src="/imagenes/postre/p.jpg" class="card-img-top imgl img-thumbnail" alt="...">
            </div>
            <div class="card-body cuerpo ">
              <h5 class="card-title">Nombre del plato</h5>
              <p class="card-text">Pequeña descripción.</p>
              <a href="#" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto">Detalles</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="text-uppercase" scope="row">Martes</th>
        <td>
          <div class="card carta border border-dark" style="width: 18rem;">
            <div class="image">
              <img src="/imagenes/ensaladas/e.jpg" class="card-img-top imgl img-thumbnail" alt="...">
            </div>
            <div class="card-body cuerpo">
              <h5 class="card-title ">Nombre del plato</h5>
              <p class="card-text">Pequeña descripción.</p>
              <a href="#" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto">Detalles</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card carta border border-dark" style="width: 18rem;">
            <div class="image">
              <img src="/imagenes/fondo/f.jpg" class="card-img-top imgl img-thumbnail" alt="...">
            </div>
            <div class="card-body cuerpo">
              <h5 class="card-title">Nombre del plato</h5>
              <p class="card-text">Pequeña descripción.</p>
              <a href="#" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto">Detalles</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card carta border border-dark" style="width: 18rem;">
            <div class="image">
              <img src="/imagenes/postre/p.jpg" class="card-img-top imgl img-thumbnail" alt="...">
            </div>
            <div class="card-body cuerpo ">
              <h5 class="card-title">Nombre del plato</h5>
              <p class="card-text">Pequeña descripción.</p>
              <a href="#" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto">Detalles</a>
            </div>
          </div>
        </td>
      </tr>



    </table>


  </main>

  <footer th:replace="/plantilla/plantilla::footer"></footer>
</body>

</html>