<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body>
  <header th:replace="/plantilla/plantilla::header"></header>
  <main>
    <div class="container">
      <table class="table  table-hover  table-bordered border border-3 ">
        <thead class="border border-3">


          <div class="card mt-3">
            <div class="card-- footer tex-center">
              <h1> Lista de recetas</h1>
              <div class="col "> <button type="button" class=" btn  btn-warning  "><a th:href="@{/receta/crear}">crear
                    Receta </a></button></th>

              </div>
        </thead>
        <tbody>
          <div class="card-body">
            <table class="table table-white table-striped">
              <thead>
                <tr>
                  <th> Nombre de recetas</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr th:each="receta:${recetas}">
                  <td th:text="${receta.nombre}"></td>
                  <td><a th:href="@{/receta/detalle/} + ${receta.id}" class="btn btn-primary" th:text="Ver"></a></td>
                  <td><a th:href="@{/receta/editar/} + ${receta.id}" class="btn btn-warning">Editar</a></td>
                  <td><a th:href="@{/receta/eliminar/} + ${receta.id}" class="btn btn-danger">Eliminar</a></td>
                </tr>
              </tbody>
              <p th:if="${recetas.isEmpty}">No hay recetas para mostrar</p>
            </table>
            <a class="btn btn-success" onclick="goBack()" th:href="@{/inicio/}" value="Regresar" >Regresar</a>
            

          </div>
  </main>

  <footer th:replace="/plantilla/plantilla::footer"></footer>
</body>

</html>