@import "./import/landing.css";
@import "./import/card.css";
@import "./import/detalle.css";
@import "./import/index.css";
@import "./import/reloj.css";
@import "./import/registrar.css";
@import "./import/nuevouser.css";
@import "./import/lista_receta.css";
@import "./import/up.css";


body {
  /* border:30px solid black; */
  /* width: 90%;
  height: 90%;
  display:flex;
  justify-content:center; */

}

/* header {
  margin:auto;
  width: 100%;
  height: 65px;
} */



/* main .container {
  min-height: calc(100vh  - 80px);

}

footer {
  width: 100%;
  height: 80px;
} */