@import "./import/landing.css";
@import "./import/card.css";
@import "./import/detalle.css";
@import "./import/index.css";
@import "./import/registrar.css";
@import "./import/nuevouser.css";
@import "./import/lista_receta.css";
@import "./import/up.css";



body {
  background-image: url("/imagenes/landing/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  border-left: 70px solid black;
  border-right: 70px solid black;
}

 header {
   width: 100%;
   height: 75px;

} 

main {
  background-color: rgba(245, 171, 11, 0.267);
  min-height:calc(100vh - 75px - 12px);
  border:1px solid rgba(245, 171, 11, 0.267);
  
}


footer {
background-color: rgba(255, 255, 255, 0.541);
width:100%;
height:120px;
border:1px solid rgba(245, 171, 11, 0.267);
}

@media (max-width: 900px) {

  body {
    border: none;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  main {
    border: none;
    height: 100vh;
  }
}