<!DOCTYPE html>

<html xml:lang xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body class="fondo-imagen">
  <main class="shadow-orange">
    <div class=" caja">
      <form class="formulario">
        <div class="login-text my-5">
          <label class=" texto my-3">Iniciar Sesion</label>
        </div>
        <div class="form-but align-items-center">
          <div class="espacios col col-4 ">
            <div class="form-floating my-3 border border-dark border-2 rounded-3">
              <input type="usuario" class="form-control" id="floatingInput" placeholder="User Name">
              <label for="floatingInput">User Name</label>
            </div>
            <div class="form-floating border border-dark border-2 rounded-3 ">
              <input type="password" class="form-control" id="floatingInput" placeholder="Password">
              <label for="floatingInput">Password</label>

            </div>
          </div>
          <div class="botones col col-5 pt-4">
            <a th:href="@{/inicio/}" class="btn btn-lg btn-info me-5">Iniciar Sesion</a>
            <a th:href="@{/usuario/crear}" class="btn btn-lg btn-info">Crear Usuario</a>
          </div>
        </div>
      </form>
    </div>
  </main>
</body>

</html>