<!DOCTYPE html>

<html xml:lang xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body class="fondo-imagen">
<main class="shadow-orange">

    <div class=" caja">
        <div th:if="${param.logout}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <span>Ha finalizado la sesion con exito.</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        <form class="formulario" th:action="@{/logincheck}" method="POST">

            <div class="login-text my-5">
                <label class=" texto my-3">Iniciar Sesion</label>
            </div>

            <div class="form-but">

                <div class="espacios my-5 py-5 mx-5 px-5">
                    <div class="form-floating my-3 border border-dark border-2 rounded-3">
                        <label for="email">Email</label>
                        <input type="usuario" class="form-control" id="email" th:value="@{email}"
                               placeholder="User Email">
                    </div>
                    <div>
                        <div class="form-floating border border-dark border-2 rounded-3">
                            <label for="pass">Password</label>
                            <input type="password" id="pass" class="form-control" th:value="@{password}"
                                   placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="botones my-5 py-5 mx-5">

                    <div class="mx-4">
                        <button class="btn btn-lg btn-primary" type="submit">Ingresar</button>
                        <a th:href="@{/usuario/crear}" class="btn btn-lg btn-primary">Crear Usuario</a>
                    </div>

                    <div class="frase mt-3">
                        <div class="puno">
                            <img src="/imagenes/landing/motivacion.png" alt="Estrella">
                        </div>
                        <p class="ms-2 fs-3"> Una receta no tiene alma. Es el cocinero quien debe darle el alma a la
                            receta. </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>

</html>