<!DOCTYPE html>
<html xml:lang xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body class="idx ">
  
  <div class=" text-center justify-content-center px-5 mx-5 my-5 py-5">
    <form>
      <div class="mx-auto card-img" style="width: 200px;">
        <div class="mb-3">
          <div> <label for="exampleInputIniciarSesion" class="form-lable fw-bolder text-dark mb-4 fs-2">Iniciar Sesion</label> 
            <label for="exampleInputUsuario" class="form-label text-dark fs-3 ">User Name</label>
            <input type="usuario" class="form-control" id="exampleInputusuario" aria-describedby="usuarioHelp">
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-dark fs-3 ">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <a th:href="@{/inicio/}" class="btn btn-primary">Entrar</a>
        <button type="registrarse" class="btn btn-primary">Registrarse</button>
      </div>
    </form>
  </div>

  <footer th:replace="/plantilla/plantilla::footer"></footer>

</body>

</html>