<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>


  </div>

  <div class="mb- 3 row">
    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label><br>
    <div class="mb-3 row">
      <input type="text" class="form-control-plaintext" id="Username" value="">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label><br>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="Ingresar" class="col-sm-2 col-form-label">Ingresar</label><br>
    <div class="col-sm-10">
    </div>

  </div>
  <button type="submit"> Ingresar</button><br>

  </p>
    <h1>Registrar un usuario</h1>
    <form>
    <label for="nombre">Nombre del usuario</label> <br>
    <input type="text" id="nombre"> <br>
    <label for="contraseña">Contraseña del usuario</label><br>
    <input type="password" id="contraseña"><br>
    <label for="edad"> Edad del usuario</label> <br>
    <input type="number" id="edad "> <br>
    <label for="nacimiento del usuario">Fecha de Ncacimiento</label> <br>
    <input type="date" id=" nacimiento"> <br>

    <p> Sexo del usuario </p>
    <label for="Mujer">Mujer</label>
    <imput type="radio" id="Mujer" name="Genero"><br>
      <label for="Hombre">Hombre</label>
      <imput type="radio" id="Hombre" name="Genero"><br>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
  </form>
</body>

</html>