<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/plantilla/plantilla::head"></head>

<body>

  <header th:replace="/plantilla/plantilla::header"></header>

  <main>
   
    <div class="container bg-card">
      <table class="table  table-hover  table-bordered border border-3 bg-card">
        <thead class="border border-3">


         <div class="container d-flex">
              <h1 class="text-center py-1 bg-card mt-2 col col-md-6 me-5"> Lista de cartas</h1>
              <div class="py-2 ms-5">
              <a th:href="@{/carta/crear}" class="btn btn-primary ms-5">Crear Carta </a>
              <a href="#" class="btn btn-success ms-5">Volver</a>
              </div>
        </div>
        </thead>
          <div class="card-body">
            <table class="table table-white table-striped">
              <thead>
                <tr>
                  <th> Nombre de Cartas</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr th:each="carta:${cartas}">
                  <td th:text="${carta.nombre}"></td>
                  <td><a th:href="@{/carta/detalle/} + ${carta.id}" class="btn btn-primary" th:text="Ver"></a></td>
                  <td><a th:href="@{/carta/editar/} + ${carta.id}" class="btn btn-warning">Editar</a></td>
                  <td><a th:href="@{/carta/eliminar/} + ${carta.id}" class="btn btn-danger">Eliminar</a></td>
                </tr>
              </tbody>
              <p th:if="${cartas.isEmpty}">No hay cartas para mostrar</p>
            </table>

          </div>
  
        </div>
  </main>
</body>
<footer th:replace="/plantilla/plantilla::footer"></footer>
</html>