<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body>
    <header th:replace="/plantilla/plantilla::header"></header>
    <main>
        <div class=" d-flex container">
            <div class="bg-card col col-md-6 border border-dark border-2 mt-4 fs-2 rounded-3">
                <h2 class="text-center py-3 fs-2" th:text="${h1}"></h2>
            </div>
            <div class="col col-md-6 mt-4 text-center">
                <a th:href="@{/carta/crear}" class="crear btn btn btn-lg border border-dark border-2 rounded-3">Crear
                    Carta </a>
                <a onclick="goBack()" class="back btn btn-lg border border-dark border-2 rounded-3 ms-3">Regresar</a>
            </div>
        </div>
        <table class="table text-center border border-dark border-2 pt-4 mt-3 bg-card rounded-3">
            <thead>
                <tr>
                    <th>Semana</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sabado</th>
                    <th>Domingo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="carta:${cartas}">
                    <td th:text="${carta.semana}"></td>
                    <td>
                        <select name="" id="">
                            <option th:each="receta : ${carta.lunes}" value="" th:text="${receta.nombre}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option th:each="receta : ${carta.martes}" value="" th:text="${receta.nombre}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option th:each="receta : ${carta.miercoles}" value="" th:text="${receta.nombre}"></option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option th:each="receta : ${carta.jueves}" value="" th:text="${receta.nombre}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option th:each="receta : ${carta.viernes}" value="" th:text="${receta.nombre}"></option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option th:each="receta : ${carta.sabado}" value="" th:text="${receta.nombre}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option th:each="receta : ${carta.domingo}" value="" th:text="${receta.nombre}">
                            </option>
                        </select>
                    </td>
                    <td><a th:href="@{/carta/editar/} + ${carta.id}" class="editar btn border border-dark border-2 rounded-3">Editar</a></td>
                    <td><a th:href="@{/carta/eliminar/} + ${carta.id}" class="btn btn-danger border border-dark border-2 rounded-3">Eliminar</a></td>
                </tr>
            </tbody>
            <div class="container">
                <p th:if="${cartas.isEmpty}" class="p-3 w-50 bg-card border border-dark border-2 rounded-3 mt-3 text-center fs-3 fw-bold">No hay cartas para mostrar</p>
            </div>
        </table>
    </main>
    <footer th:replace="/plantilla/plantilla::footer"></footer>
</body>
</html>