<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xml:lang xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/plantilla::head"></head>

<body>
  <header th:replace="/plantilla/plantilla::header"></header>
  <main>
    <!-- Converti la tabla a cards se deben ver todas las recetas en cartas separadas agregar boton bussqueda por tipo/categoria/otros.  -->

    <div class="container">
      <div class="bg-card col col-md-6 border my-4">
        <h2 class="text-center py-3 fs-2" th:text="${h1}"></h2>
      </div>
      <div class="card-group">
        <div th:each="receta:${recetas}">
          <div class="card" style="width:20rem;">
            <img class="card-img-top" th:src="@{'/imagenes/receta/' + ${receta.foto}}" th:alt="${receta.foto}">
            <div class="card-body">
              <h4 class="card-title" th:text="${receta.nombre}"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="/plantilla/plantilla::footer"></footer>

</body>

</html>