.fondo-img {
  background-image: url('/imagenes/landing/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-card{
  background-color: rgba(255, 255, 255, 0.473);
}

.borde{
  background-color: rgba(255, 255, 255, 0.514);
}
