.receta{
  height: 100%;
  background-color: rgba(252, 251, 249, 0.548);
}

#lista_receta {
background-image: url(/imagenes/fondo/finfex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}





    
    
   
   
   
