
.contenedor{
    border-color: rgba(#6c757d);
    border-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
 
  .recuadro{
    text-align: center;
    border-color: rgba(#6c757d);
    margin-top: 20px;
    margin-left: 10% ;
    margin-right: 10%;
    border-left: 20%;
    border-right: 10%;
  }
.boton{
  margin-left: 50%;
}

  





