
.container{
    border-color: rgba(#6c757d);
    border-left: 30px;
   /* margin-left: 50px;*/
    padding-left: 30px;
    padding-right: 30px;
  }
 
/*.cajon{

    margin-top: 5px;
    text-align: center;
    font-size: x-large;
    font-style:normal;
    font-family: Arial;
    
    padding: 20px;
  }*/
  .recuadro{
    text-align: center;
    border-color: rgba(#6c757d);
    margin-top: 20px;
    margin-left: 10% ;
    margin-right: 10%;
    border-left: 20%;
    border-right: 10%;
  }
.boton{
  margin-left: 50%;
}

  





