#reloj{
  font-family: sans-serif;
  font-size: 20px;
  text-shadow: 0px opx 1px #333;
  color:black;
  font-weight: bold;
  justify-content: center;
}

.reloj-contenedor{
text-align: center;
}
#hora{
  letter-spacing: 2px;
}
#fecha{
  letter-spacing: 2px;

}

